body {
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
} 

.wrap {
	width: 100%;
}

.bg-black {
	background-color: #000100;
}

.row {
	width: 100%;
	margin-left: 2rem;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5rem;
}

.row:after {
	clear: both;
}

.row:after, .row:before {
	content: " ";
	display: table;
}

.columns {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;
}

#hdr-logo {
	margin-top: 10px;
	height: 3em;
	line-height: 3.0em;
}

#hdr-logo img {
	max-height: 100%;
	max-width: 100%;
}

a img {
	border: none;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

a {
	background: transparent;
}

a:visited {
	color: #e75113;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



