/* == GENERAL == */
#logo, #logo img {
  height: 2.5em;
}

#logo {
  padding: 15px;
  position: fixed;
}

html, body {
  background-color: #000100;
  margin: 0px;
  overflow-x: scroll !important;
}

.editor {
  position: fixed;
  right: 0;
  font-size: 20px;
  width: 45%;
  min-width: 650px;
}

#editor {
  @extend .editor;
  bottom: 64px;
  top: 0em;
}

#input_editor {
  @extend .editor;
  bottom: 0;
  height: 64px;
  width: 100%;
}

#input_editor .ace_content {
  padding: 20px;
}
