/* == GENERAL == */
#logo, #logo img {
  width: 90%;
}

#logo {
  padding: 15px;
  // position: fixed;
}

html, body {
  background-color: #000100;
  margin: 0px;
  overflow-x: scroll !important;
}

.editor {
  position: fixed;
  right: 0;
  font-size: 20px;
  width: 45%;
  min-width: 650px;
}

#editor {
  @extend .editor;
  bottom: 64px;
  top: 0em;
}

#input_editor {
  @extend .editor;
  bottom: 0;
  height: 64px;
  width: 100%;
}

#input_editor .ace_content {
  padding: 20px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.comingsoon {
  width: 40%;
  left: 30%;
  text-align: center;
  position: fixed;
  z-index: 1000;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.28);
  margin: 20px;
  min-width: 400px;
}

@media screen and (max-width: 768px) {
  .comingsoon {
    left:0%;
    width:100%;
    margin: 0px;
  }
}
