<div class="comingsoon">
  <div id="logo">
    <a href="/" class="left" id="hdr-logo" title="Go to Code For Kids Homepage">
      <img alt="Logo" src="images/logo.png">
    </a>
  </div>

  <h1>Coming soon!</h1>
  <h2>A new way for kids to learn how to code</h2>
  <p>Move around with the arrow keys</p>
</div>
