<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/index.css">
    <script src="/js/libs/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/ace/mode-ruby.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script> 
  </head>
  <body> 
    <header class="wrap bg-black menu">
      <div class="row">
        <div class="columns">
          <a href="/" class="left" id="hdr-logo" title="Go to Code For Kids Homepage">
            <img alt="Logo" src="../images/logo-8ac88df797d64f3668bb0a6d5d29dfeb.png">
          </a>
        </div>
      </div>
    </header>
  </body>
</html> 
